doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= "BART Commute"
    // Base style
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')

    // Style
    link(rel='stylesheet', href='css/style.css')

    // Vendor
    script(src='http://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js')
    script(src='vendor/xml2json.js')

    // Services
    script(src='js/bc/service/location.js')
    script(src='js/bc/service/user.js')
    script(src='js/bc/service/bart.js')

    // Controller
    script(src='js/bc/app/app.js')
    script(src='js/bc/app/my-stations.js')
    script(src='js/bc/app/my-commute.js')

  body
    block content