body {
    margin-top: 70px;
}

a {
    cursor: pointer;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.route {
    margin: 15px 0;
    padding: 10px 15px;
    border: 1px solid #428bca;;
    border-radius: 4px;
}

.top-space-medium {
    margin-top: 15px;
}