<div data-ng-controller="bc.myCommute">
  <div data-ng-include="'html/nav.html'"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div data-ng-show="locationError" class="alert alert-danger in" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
          </button>
          <strong data-ng-show="locationError == LOCATION_ERROR_NOT_SUPPORTED">
            Your device or browser do not support location services.
          </strong>
          <strong data-ng-show="locationError == LOCATION_ERROR_PERMISSION_DENIED">
            Your declined to share your location data with Bart Commute.
            <!--TODO: instructions for a fix-->
          </strong>
          <strong data-ng-show="locationError == LOCATION_ERROR_POSITION_UNAVAILABLE">
            Location data is not available. Make sure location services on your device are enabled.
          </strong>
          <strong data-ng-show="locationError == LOCATION_ERROR_TIMEOUT">
            Request for your location timed out.
          </strong>
          <strong data-ng-show="locationError == LOCATION_ERROR_UNKNOWN">
            Oops. Something went wrong when trying to access your location data.
          </strong>
        </div>

      </div>
    </div>

    <div data-ng-hide="routes.length" class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Loading schedule...</h3>
      </div>
      <div class="panel-body">
        <p class="text-muted">{{app.loadingMsg}}</p>
      </div>
    </div>

    <div data-ng-repeat="route in routes">
      <div class="row">
        <div class="col-md-12">

          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title text-center">{{route.arrivalStation.goingLabel}}</h3>
            </div>
            <div class="panel-body">

              <div data-ng-repeat="trip in route.schedule" class="route">
                <div>
                  {{trip._origTimeMin}} - {{route.departureStation.stationData.name}}
                </div>
                <div data-ng-show="trip.leg.length > 1" class="text-muted">
                  Transfer required
                </div>
                <div>
                  {{trip._destTimeMin}} - {{route.arrivalStation.stationData.name}}
                </div>
              </div>

              <div class="text-center">
                <button data-ng-click="updateCommuteFromStation(route.arrivalStation)" class="btn btn-primary">
                  {{route.arrivalStation.leavingLabel}}
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>