<div data-ng-controller="bc.myStations">
  <div data-ng-include="'html/nav.html'"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title text-center">My Stations</h3>
          </div>
          <div class="panel-body">
            <div data-ng-hide="app.bartStations">
              <p class="text-muted">
                Loading station data...
              </p>
            </div>

            <form data-ng-show="app.bartStations" data-ng-submit="setStations()" class="form-horizontal top-space-medium" role="form">
              <div data-ng-repeat="myStation in myStations">
                <div class="form-group">
                  <label for="{{myStation.label}}" class="col-sm-2 control-label">{{myStation.label}}</label>
                  <div class="col-sm-10">
                    <select id="{{myStation.label}}" class="form-control"
                            data-ng-model="myStation.stationData"
                            data-ng-options="station.name for station in app.bartStations track by station.abbr"
                            data-ng-change="isFormValid()">
                    </select>
                    <div data-ng-show="isSubmitted && myStation.errorCode == STATION_ERROR_NO_DATA" class="text-danger">
                      Please select a station
                    </div>
                    <div data-ng-show="myStation.errorCode == STATION_ERROR_DUPLICATE_LOCATION" class="text-danger">
                      You already selected this station, please pick another.
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Set stations</button>
                  <a data-ng-click="cancel()" class="btn btn-default">Cancel</a>
                </div>
              </div>
            </form>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
